
<head>
<style>
  header h1{
    border: 0; margin: 0;
    background-color: black;
}
  
</style>  
<header id="header">  
<h1 id="htitle"><a href="https://blocitoff-ericstephens.c9users.io" style= "text-decoration: none;">Blocitoff</a></h1>
</header>
</head>

<body background="https://lh3.googleusercontent.com/E7OZ7t_GxMwZig2lqK6nyA_X_3CK645bDvg_Ak03e6HGoXcmo4n0rwOQz30tBzuE62cGLSJke2YqSWWFD8dLD7d6W0GR1YUU0ewwjDqdSQ0HFpHbidPU-0EqFVrOJEByskWIBNZbCx5ip0K9C9dAdMEXL6qOJ0yOQsP2CU3CqeBbYZgzw8ud3x7DbH_yxBQSFmF8TR05XIqduwxhxAhnEeu0TQvlToaKKDIZhDgNppf5kGuQy7qgb-ZbD453hMyyuBf5zLGs7q1VoBr-di2ttT4pQs8YpU41agul9NTVyVL6VBvus3zryfL-1zRtSlW8IY-lOzjhKTTmElQEIc8fGAbPQUcnagF8IdPkDcq_m5cVmwsAnXxm_u62JLsEuUDxCKloToeGTTCsKX4HF1ej7CFYm-035Cs3pTgCSKbkTpvFCeI64A46bPSUT9WhsWh2em73iMowSYGbDzbiiTb0vOmhrGEmZWVVebhRV6xic-5GxFSqI294AD_dxhhocu-WQgE33rhjJFPHltaf2xRalsCUVVfG1CqhDpzkRJ8W4vytVWHYHHtxYM6xYo-KUKPXBBATHTuZ3U9PXZVXrzu_rpm4XjFbg3DFtCIIVM8_UBpVsdH1=w1440-h883-no">



<!--<small>Welcome#index</small> -->

<center>
<div id="rcorners" >

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


<br>
<p>[ Find me in app/views/devise/registrations/edit.html.erb ]</p>

</div>
</center>
</div>
</body>


