<!DOCTYPE html>
<html lang="en">

<head>
<style>
  header h1{
    border: 0; margin: 0;
    background-color: black;
}
  .lister {
    text-align: left;
  }
  
</style>  
<header id="header">  
<h1 id="htitle"><a href="https://blocitoff-ericstephens.c9users.io" style= "text-decoration: none;">Blocitoff</a></h1>
</header>
</head>

<%= @user.email %>
<%= link_to "current_user_show", current_user %>


<body background="https://lh3.googleusercontent.com/E7OZ7t_GxMwZig2lqK6nyA_X_3CK645bDvg_Ak03e6HGoXcmo4n0rwOQz30tBzuE62cGLSJke2YqSWWFD8dLD7d6W0GR1YUU0ewwjDqdSQ0HFpHbidPU-0EqFVrOJEByskWIBNZbCx5ip0K9C9dAdMEXL6qOJ0yOQsP2CU3CqeBbYZgzw8ud3x7DbH_yxBQSFmF8TR05XIqduwxhxAhnEeu0TQvlToaKKDIZhDgNppf5kGuQy7qgb-ZbD453hMyyuBf5zLGs7q1VoBr-di2ttT4pQs8YpU41agul9NTVyVL6VBvus3zryfL-1zRtSlW8IY-lOzjhKTTmElQEIc8fGAbPQUcnagF8IdPkDcq_m5cVmwsAnXxm_u62JLsEuUDxCKloToeGTTCsKX4HF1ej7CFYm-035Cs3pTgCSKbkTpvFCeI64A46bPSUT9WhsWh2em73iMowSYGbDzbiiTb0vOmhrGEmZWVVebhRV6xic-5GxFSqI294AD_dxhhocu-WQgE33rhjJFPHltaf2xRalsCUVVfG1CqhDpzkRJ8W4vytVWHYHHtxYM6xYo-KUKPXBBATHTuZ3U9PXZVXrzu_rpm4XjFbg3DFtCIIVM8_UBpVsdH1=w1440-h883-no">

<center>
<div id="rcorners">
<div class ="lister">
<div class = "container">
  <div class="row">
   <h4 class="media-heading">Hello, <%= @user.email %></h4> 
   </br>
    You have <%= pluralize(@user.items.count, 'item') %> left
    <br>
  </div>
  <div class= "row">
    </br>
    <h4>Items:</h4>
    <%= render @items%>
    <br>
    </div>
  </div>
</br>
    <%= render partial: 'items/form', locals: {user: @user} %>
  </div>
</div>


</div>
</center>
</div>
</body>







</body>
</html>